<ul>
	<li><%= link_to "Create Player", admin_new_player_path %></li>
	<li><%= link_to "Manage Players", admin_manage_players_path %></li>
	<li><%= link_to "Create Season", admin_new_season_path %></li>
	<li><%= link_to "Manage Seasons (Can only mark current season as complete)", admin_manage_seasons_path %></li>
	<li><%= link_to "Create User", admin_new_user_path %></li>
	<li><%= link_to "Manage Users", admin_manage_users_path %></li>
	<li><%= link_to "Manage Matches", admin_match_controls_path %></li>
	<li>??</li>
	<li>??</li>
	<li>??</li>
</ul>
