<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">League Table</h3>
  </div>
  <div class="panel-body">
		<div class="row">
			<div class="col-md-12">
			<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#pane1" data-toggle="tab">Player Information</a></li>
    <li><a href="#pane2" data-toggle="tab">Change Password</a></li>
  </ul>
  <div class="tab-content">
    <div id="pane1" class="tab-pane active">
    	<br><br>
			<%= form_for(:user_player, :url => url_for(:action => "update_details"), :html => {:class => "form-horizontal"}) do |f| %>
					<div class="form-group">
						<label class="control-label col-md-2">Player First Name</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="player_first_name" value="<%= @player.first_name %>" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Player Last Name</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="player_last_name" value="<%= @player.last_name %>" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Player Image Url</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="player_image_url" value="<%= @player.player_image_url %>" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">Player Bio</label>
						<div class="col-md-6">
							<textarea cols="5" class="form-control" name="player_bio"><%= @player.bio %></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-1">
							<%= f.submit "Update", class: "btn btn-large btn-default" %>	
						</div>
					</div>
				<% end %>
    </div>
    <div id="pane2" class="tab-pane">
    <br><br>
    <%= form_for(:user_player, :url => url_for(:action => "update_password"), :html => {:class => "form-horizontal"}) do |f| %>
					<div class="form-group">
						<label class="control-label col-md-2">Current Password</label>
						<div class="col-md-6">
							<input type="password" class="form-control" name="password" autocomplete="off" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">New Password</label>
						<div class="col-md-6">
							<input type="password" class="form-control" name="new_password" autocomplete="off" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-2">New Password Confirmation</label>
						<div class="col-md-6">
							<input type="password" class="form-control" name="new_password_confirmation" autocomplete="off" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-1">
							<%= f.submit "Update", class: "btn btn-large btn-default" %>	
						</div>
					</div>
				<% end %>
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->
			</div>
		</div>
  </div>
</div>
